{"Name":"FabulousPriceFinder on dev / ljhaywar@us.ibm.com","ServiceId":"com.ibm.cloudoe.orion.client.deploy","Params":{"Target":{"Url":"https://api.ng.bluemix.net","Org":"ljhaywar@us.ibm.com","Space":"dev"},"Name":"FabulousPriceFinder","Timeout":60},"Url":"http://FabulousPriceFinder-e871ea53-037f-41bc-a49d-da355c3a2b54.ng.bluemix.net","ManageUrl":"https://ace.ng.bluemix.net#/resources/appGuid=cdfe037e-f490-4ee6-83b7-23e8fbc6ac4d&orgGuid=13097400-539d-43e9-a0e0-8a80137e0438&spaceGuid=6c208fe6-3460-47d7-9e32-1d23f884385c","Path":"manifest.yml","UrlTitle":"FabulousPriceFinder","Type":"Cloud Foundry"}